
<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Top Players</h1>
  </header>
  <div class="leaderboard">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Rating</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% players.forEach((p, i) => { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= p.username %></td>
            <td><%= p.rating %></td>
            <td class="<%= p.status === 'Alive' ? 'status-alive' : 'status-eliminated' %>">
              <%= p.status %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
